@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html *
{
    font-family: 'Open Sans', sans-serif;
}
#nav-bar{
    background-color: #636EA7;
}
#lessons-display{
    background-color: #636EA7;
}
.card-display{
    background-color: #f0ad4e;
}
.navbar-nav li{
    padding-left: 20px;
}
.navbar-nav li a{
    font-weight: 600;
    font-size: large;
}
.fa-bars{
    columns: #fff;
    font-size: 30px !important;
}
#banner{
    background-color: #f0ad4e;
    padding-top: 5%;
}
#points-banner{
    background-color: #f0ad4e;
}
.promo-title{
    font-size: 70px;
    font-weight: 600;
    margin-top: 10px;
}
p{
    font-size: 20px;
    font-weight: 600;
}
#knowledge-image{
    margin-bottom: 30px;
}
.wave-image{
    width: 100%;
}

