@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

html *
{
    font-family: 'Open Sans', sans-serif;
}
p{
    font-size: 20px;
    font-weight: 600;
}
.wave-image{
    width: 100%;
}

/*Profile*/
.backgound-layer-profile{
    background-image: "url('%PUBLIC_URL%/images/waves-profile.svg')";
    aspect-ratio: 16/4;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Lessons*/
.backgound-layer-lessons{
    background-image: "url('%PUBLIC_URL%/images/waves-lessons.svg')";
    aspect-ratio: 16/9;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Details lesson bought*/
.card-display-details{
    background-color: #636EA7;
}
.profile-comment{
    height: 50px;
    width: 50px;
}